/* Reset y configuración básica */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,800');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

body {
    background-size: cover;
    height: 100vh;
    width: 100%;
}

nav {
    background: #2A253B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    backdrop-filter: blur(25px);
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 50px;
    width: auto;
}

.logo h1 {
    font-size: 24px;
    white-space: nowrap;
}

.navigation {
    display: flex;
    gap: 1rem;
}

.navigation li {
    list-style-type: none;
}

.navigation li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 99px;
    transition: 150ms;
}

.navigation li a:hover {
    background: #E20011;
}

input {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon .line-icon,
.menu-icon .x-icon {
    font-size: 30px;
    color: #E20011;
}

.menu-icon .x-icon {
    display: none;
}

@media screen and (max-width: 952px) {
    .navigation {
        position: absolute;
        top: 100px;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        background: rgba(0, 0, 0, 0.65);

        width: 100%;
        right: 0;
        padding: 0;
        height: 0;
        overflow: hidden;
        transition: 500ms;
    }

    input:checked ~ .navigation {
        height: 100vh;
        padding: 50px 0;
    }

    .menu-icon {
        display: block;
    }

    input:checked ~ .menu-icon .line-icon {
        display: none;
    }

    input:checked ~ .menu-icon .x-icon {
        display: block;
    }
}



/* Estilos del carrusel */
.carousel {
    position: relative;
    max-width: 80%;
    margin: 20px auto;
    overflow: hidden;
    padding-top: 90px;
    max-height: 600px; /* Ajustar la altura máxima del carrusel */
}

.swiper-slide {
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que las imágenes llenen el contenedor sin distorsionarse */
    display: block;
}

.swiper-caption {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
}

.swiper-pagination {
    bottom: 10px !important;
}

/* Responsividad: Ocultar carrusel en pantallas pequeñas */
@media screen and (max-width: 800px) {
    .carousel {
        display: none;
    }
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Asegúrate de que todos los elementos y el contenedor sean amigables con flexbox */
.columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
    margin: 0 auto;
}

.column {
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 30%;
    transition: transform 0.3s;
    margin-bottom: 20px; /* Añade un margen inferior para el espacio entre filas */
}

.column i {
    font-size: 48px;
    margin-bottom: 15px;
    color: #333;
}

.column p {
    font-size: 18px;
    color: #666;
}

.column:hover {
    transform: translateY(-10px);
}

@media screen and (max-width: 768px) {
    .columns {
        flex-direction: column;
        align-items: center;
    }
    .column {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .column {
        width: 100%;
        margin-bottom: 15px;
    }
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.gallery-item {
    position: relative;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    transition: transform 0.3s;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.brands {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.brands img {
    height: 50px;
}

        /* Aquí va el CSS */
        .footer-container {
            background-color: #2A253B;
            color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            font-family: 'Fira Sans', sans-serif;
        }

        .footer-left {
            flex: 1;
            display: flex;
            align-items: center;
        }

        .footer-logo {
            max-width: 150px;
            height: auto;
        }

        .footer-right {
            flex: 3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .footer-section {
            margin: 10px;
        }

        .footer-section p {
            margin: 5px 0;
        }

        .footer-social {
            display: flex;
            gap: 10px;
        }

        .footer-social a {
            color: white;
            font-size: 24px;
            text-decoration: none;
        }

        .footer-social a:hover {
            color: #E20011;
        }

        .footer-bottom {
            width: 100%;
            text-align: center;
            margin-top: 20px;
            border-top: 1px solid #444;
            padding-top: 10px;
            font-size: 14px;
        }
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin:10px; /* Para compensar el padding de los hijos y alinear los bordes */
}

/* Contenedor principal */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Estilos de la figura */
figure.container {
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    flex: 1 1 calc(25% - 20px); /* 4 elementos por fila con espacio */
    max-width: calc(25% - 20px); /* Asegurar el tamaño máximo */
    background-color: #E20011;
    font-size: 16px;
    perspective: 50em;
    text-align: left;
    transition: all 0.3s ease;
}

figure.container * {
    box-sizing: border-box;
    transition: all 0.6s ease;
}

figure.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

figure.container figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Asegurar que el figcaption ocupe todo el contenedor */
    background: rgba(226, 0, 17, 0.6); /* Fondo rojo con opacidad */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s ease;
}

figure.container h3,
figure.container p {
    line-height: 1.5em;
}

figure.container h3 {
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}

figure.container p {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 15px;
}

figure.container .more {
    border: 2px solid #ffffff;
    padding: 0.5em 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

figure.container .more:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Efectos hover */
figure.container:hover img {
    transform: rotateX(90deg);
    opacity: 0;
}

figure.container:hover figcaption {
    opacity: 1;
    transition-delay: 0.2s;
}

/* Responsividad */
@media screen and (max-width: 1200px) {
    figure.container {
        flex: 1 1 calc(33.33% - 20px); /* 3 elementos por fila con espacio */
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 900px) {
    figure.container {
        flex: 1 1 calc(50% - 20px); /* 2 elementos por fila con espacio */
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 600px) {
    figure.container {
        flex: 1 1 calc(100% - 20px); /* 1 elemento por fila con espacio */
        max-width: calc(100% - 20px);
    }
}

